[submodule "sources_non_forked/SrcExpl"]
	path = sources_non_forked/SrcExpl
	url = https://github.com/wesleyche/SrcExpl
[submodule "sources_non_forked/Trinity"]
	path = sources_non_forked/Trinity
	url = https://github.com/wesleyche/Trinity.git
[submodule "sources_non_forked/cscope.vim"]
	path = sources_non_forked/cscope.vim
	url = https://github.com/vim-scripts/cscope.vim.git
[submodule "sources_non_forked/DrawIt"]
	path = sources_non_forked/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "sources_non_forked/editorconfig"]
	path = sources_non_forked/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "sources_non_forked/mediawiki"]
	path = sources_non_forked/mediawiki
	url = https://github.com/chikamichi/mediawiki.vim
[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = https://github.com/scrooloose/syntastic.git
